:root {
  --vp-c-brand-1: #d50707;
  --vp-c-brand-2: #d50707;
  --vp-button-brand-bg: #d50707;
}

.image-src {
  max-width: 400px !important;
  max-height: 300px !important;
}

@media screen and (min-width: 700px) {
  .image-src {
    max-width: 500px !important;
    max-height: 300px !important;
  }
}

@media screen and (min-width: 1024px) {
  .image-src {
    max-width: 800px !important;
    max-height: 500px !important;
  }
}
